header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: var(--color-zero);
    border-radius: 50%;
    margin-right: 15px;
}

.button-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: var(--color-worning);
}

.logout-btn:hover{
    background-color: var(--color-worning-dark);
}

.addFriend{
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: var(--color-fourth);
}

.addFriend:hover{
    background-color: var(--color-fifth);
}

section{
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--color-fourth);
}

.user-chat{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    color: var(--color-zero);
    font-size: 20px;
    cursor: pointer;
}

.user-chat:hover{
    background-color:var(--color-fifth) ;
}

.img-perfil{
    width: 100px;
    height: 100px;
    background-color: var(--color-zero);
    border-radius: 50%;
    margin-right: 15px;
}

.user-chat > p{
    margin-left: 15px;
}


section > img{
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
    cursor: pointer;
}